html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    background-color: lightgray;
}
menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
}
menu ul {
    list-style: none;
}
menu li {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    color: #fff;
    font-size: 28px;
}
menu a {
    padding-top: 100%;
    padding-bottom: 100%;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
menu a:visited {
    color: #fff;
}
menu a:hover {
    color: #000;
    background-color: white;
}
#company_name {
    margin-left: 40px;
    margin-right: 60px;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
footer a {
    color: #fff;
}
#wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 250px;
    margin-right: 250px;
}
.section h1 {
    font-size: 52px;
    font-family: monospace;
    margin-bottom: 100px;
}
.section p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: monospace;
    font-size: 20px;
    background-color: lightblue;
    border-style: inset;
    border-width: 10px;
    border-radius: 10px;
    border-color: darkblue;
}
#home {
    background-color: cyan;
}
#about {
    background-color: magenta;
}
#contact {
    background-color: yellow;
}
#gallery {
    background-color: black;
    color: white;
}
.section {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    height: 900px;
}